In [1]:
L=[10, 20, 30, 40, 50, 60, 70, 80]

L.append(200)
L.append(300)
print("After adding 200 and 300:", L)

L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)

L.sort()
print("Sorted in ascending order:", L)

L.sort(reverse=True)
print("Sorted in descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [7]:
scores=(45, 89.5, 76, 45.4, 89, 92, 58, 45)

a=scores.index(max(scores))
print(f"Index of max element : {a}")

b=scores.count(min(scores))
print(f"No. of times the minimum element occurs : {b}")

L=list(scores[::-1])
print(f"List of reversed Tuple : {L}")

s=int(input("Enter the score to check for : "))
if s in scores:
  print(f"Index at which score {s} is found : {scores.index(s)}")
else:
  print(f"Score {s} not in the tuple")

Index of max element : 5
No. of times the minimum element occurs : 2
List of reversed Tuple : [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter the score to check for : 76
Index at which score 76 is found : 2

In [14]:
import random

def isPrime(num):
  if num<2:
    return False
  for i in range(2,int(num**0.5)+1):
    if num%i==0:
      return False
  return True

numbers=random.sample(range(100,901),100)

even=[num for num in numbers if num%2==0]
odd=[num for num in numbers if num%2!=0]
prime=[num for num in numbers if isPrime(num)]

print(f"Count of odd numbers : {len(odd)}")
print(f"Odd numbers : {odd}\n")

print(f"Count of even numbers : {len(even)}")
print(f"Even numbers : {even}\n")

print(f"Count of prime numbers : {len(prime)}")
print(f"Prime numbers : {prime}")

Count of odd numbers : 48
Odd numbers : [567, 539, 733, 759, 685, 861, 845, 781, 317, 345, 497, 207, 581, 429, 613, 459, 113, 609, 663, 809, 433, 863, 455, 435, 255, 599, 835, 489, 695, 825, 363, 463, 765, 365, 277, 419, 741, 525, 117, 805, 197, 409, 813, 531, 325, 615, 649, 267]

Count of even numbers : 52
Even numbers : [184, 828, 126, 390, 552, 540, 326, 648, 494, 324, 724, 642, 220, 536, 626, 810, 500, 820, 260, 780, 560, 718, 402, 574, 706, 414, 430, 448, 696, 308, 290, 516, 664, 528, 714, 150, 396, 628, 208, 416, 392, 826, 616, 634, 748, 872, 832, 276, 632, 800, 280, 328]

Count of prime numbers : 13
Prime numbers : [733, 317, 613, 113, 809, 433, 863, 599, 463, 277, 419, 197, 409]

In [15]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

uniqueScores=A.union(B)
print(f"Unique Scores : {uniqueScores}")

commonScores=A.intersection(B)
print(f"Common Scores : {commonScores}")

exclusiveScores=A.symmetric_difference(B)
print(f"Exclusive Scores : {exclusiveScores}")

aSubsetB=A.issubset(B)
print(f"Is A subset of B : {aSubsetB}")
bsupersetA=B.issuperset(A)
print(f"Is B superset of A : {bsupersetA}")
s=int(input("Enter Score to remove from A : "))
if s in A:
  A.remove(s)
  print(f"After removing {s} A: {A}")
else:
  print(f"Score {s} not present in set A")

Unique Scores : {34, 45, 78, 23, 56, 90}
Common Scores : {90, 78}
Exclusive Scores : {34, 45, 23, 56}
Is A subset of B : False
Is B superset of A : False
Enter Score to remove from A : 34
After removing 34 A: {56, 90, 78}

In [21]:
sample_dict = {
  "name": "Kelly",
  "age" : 25,
  " salary" : 8000,
  "city": "New york"
}

sample_dict["location"]=sample_dict.pop("city")


print(sample_dict)

{'name': 'Kelly', 'age': 25, ' salary': 8000, 'location': 'New york'}